---
permalink: /
layout: archive
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

I am an assistant professor of Electrical and Computer Engineering at Johns Hopkins University. I also holds a joint appointment at the <a href="https://engineering.jhu.edu/Datascience-AI/">Data Science and Artificial Intelligence (DSAI)</a> Institute.

<br>

My research focuses on developing advanced algorithms and mathematical foundations for computational imaging. By integrating techniques from machine learning, computer vision, optimization, probability theory, and physics, I aim to create a comprehensive framework for reliably and interpretably incorporating artificial intelligence (AI) into imaging systems, thereby unlocking novel capabilities that surpass the limitations of traditional methods.

<br>

Before joining Johns Hopkins, I was a postdoctoral fellow in the <a href="https://www.cms.caltech.edu/">Department of Computing and Mathematical Sciences</a> at California Institute of Technology. I earned my Ph.D. at Washingtion University in St. Louis and B.Eng. at Sichuan University.
I was fortunate to work with <a href="https://cigroup.wustl.edu/">Prof. Ulugbek Kamilov</a>, who taught and helped me a lot in my academic career.
I worked as a part-time research specialist at Cedars-Sinai Hospital with <a href="https://www.cedars-sinai.org/provider/da-ouyang-3333355.html">Dr. Ouyang</a> on cardiac imaging.
I interned at <a href="https://capacity.com/">Capacity Inc.</a> and <a href="https://www.nvidia.com/en-us/research/">Nvidia Research</a> working on NLP and depth estimation.

<br>

<strong>
I look for PhD/Master/Undergrad students for multiple exciting projects. If you are interested, please fill this <a href="https://forms.gle/FF6Xd3HH67R7r1n96">qick form</a> to reach out (preferred). You may also send me emails. Due to the large volume of request, I will not reply to each inquiry.
</strong>

<p>&nbsp;</p>

<h1> News </h1>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div style="display: none;">
  <h6>Page views:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680519&style=0007&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
  <h6>Unique visitors</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680520&style=0007&nbdigits=5&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
</div>
