---
permalink: /
layout: archive
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

I am an assistant professor of Electrical and Computer Engineering at Johns Hopkins University. I also holds a joint appointment at the <a href="https://engineering.jhu.edu/Datascience-AI/">Data Science and Artificial Intelligence (DSAI)</a> Institute.

My research focuses on developing advanced algorithms and mathematical foundations for computational imaging. By integrating techniques from machine learning, computer vision, optimization, probability theory, and physics, I aims to create a comprehensive framework for reliably and interpretably incorporating artificial intelligence (AI) into imaging systems, thereby unlocking novel capabilities that surpass the limitations of traditional methods.

Before joining Johns Hopkins, Sun was a postdoctoral fellow in the Department of Computing and Mathematical Sciences at the California Institute of Technology (Caltech). He earned his B.Eng. in Electronics and Information from Sichuan University in 2015 and his Ph.D. in Computer Science from Washington University in St. Louis in 2022. His doctoral dissertation was awarded the Turner Dissertation Award for its contributions to computational imaging and machine learning.

<strong>
I look for PhD/Master/Undergrad students for multiple exciting projects. If you are interested, please fill this <a href="https://forms.gle/FF6Xd3HH67R7r1n96">qick form</a> to reach out (preferred). You may also send me emails. Due to the large volume of requests, I will not reply to each inquiry.
</strong>

<em>
  The new group website is under construction. This website will not be actively maintained.
</em>

<p>&nbsp;</p>

<h1> News </h1>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div style="display: none;">
  <h6>Page views:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680519&style=0007&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
  <h6>Unique visitors</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7680520&style=0007&nbdigits=5&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a>
</div>
